html {
  scroll-behavior: smooth;
}

.list-no-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  min-height: 100%;
}

main {
  min-height: calc(100vh - 230px - 101px);
  @media screen and (min-width: $tablet) {
    min-height: calc(100vh - 230px - 77px);
  }
}

.js-header {
  position: relative;
}
body.dark-theme {
  background-color: var(--color-bg-dark);
}

body.light-theme {
  background-color: var(--color-bg-ligth);
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (min-width: $tablet) {
    width: 768px;
    padding: 0 75px;
  }

  @media screen and (min-width: $desktop) {
    width: 1024px;
    padding: 0 71px;
  }
}

.link-no-style {
  text-decoration: none;
}
