@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
:root {
  --color-white: #ffffff;
  --color-orange: #ff6b01;
  --color-text-inverse: var(--color-white);
  --accent-color: var(--color-orange);
}

.list-no-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 75px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding: 0 71px;
  }
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: var(--accent-color);
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

.spinner-hidden {
  display: none;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 41px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo .logo-name {
  display: none;
}

@media (min-width: 768px) {
  .logo .logo-name {
    display: inline-block;
    margin-left: 10px;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-decoration: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: var(--color-text-inverse);
  }
}

.header-button {
  color: var(--color-text-inverse);
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  text-align: center;
  text-transform: uppercase;
}

.header-button:first-child {
  margin-right: 40px;
}

.group-buttons {
  padding-top: 12px;
}

.header-input {
  display: block;
  width: 100%;
  color: var(--color-text-inverse);
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 0.5px solid #fff;
  font-size: 14px;
  line-height: 1.143;
  margin-bottom: 22px;
}

@media screen and (min-width: 768px) {
  .header-input {
    width: 336px;
  }
}

.header-input-hidden {
  display: none;
}

.header-input::-webkit-input-placeholder {
  color: var(--color-text-inverse);
}

.header-input:-ms-input-placeholder {
  color: var(--color-text-inverse);
}

.header-input::-ms-input-placeholder {
  color: var(--color-text-inverse);
}

.header-input::placeholder {
  color: var(--color-text-inverse);
}

.home-search-div {
  position: relative;
  text-align: -webkit-center;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .search-button {
    top: 0;
    right: 140px;
  }
}

@media (min-width: 1025px) {
  .search-button {
    top: 0;
    right: 272px;
  }
}

.header-message {
  color: #ff001b;
  font-size: 14px;
  line-height: 1.143;
  margin: 0;
}

.overlay {
  height: 230px;
  background-color: #000103;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header/mobile/header-home-mobile.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/mobile/header-home-mobile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 321px) and (max-width: 768px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header/tablet/header-home-tablet.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/tablet/header-home-tablet.jpg");
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header/desktop/header-home-desktop.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/desktop/header-home-desktop.jpg");
  }
}

@media (min-width: 1025px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header/desktop/header-home-desktop.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/desktop/header-home-desktop.jpg");
    background-size: contain;
  }
}

.overlay .container {
  padding-top: 46px;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 769px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 769px), screen and (min-resolution: 192dpi) and (min-width: 769px), screen and (min-resolution: 2dppx) and (min-width: 769px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header/desktop/header-home-desktop@2x.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/desktop/header-home-desktop@2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 768px), screen and (min-resolution: 192dpi) and (max-width: 768px), screen and (min-resolution: 2dppx) and (max-width: 768px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header/tablet/header-home-tablet@2x.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/tablet/header-home-tablet@2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 320px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 320px), screen and (min-resolution: 192dpi) and (max-width: 320px), screen and (min-resolution: 2dppx) and (max-width: 320px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header/mobile/header-home-mobile@2x.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/mobile/header-home-mobile@2x.jpg");
  }
}

.library-btns-hidden {
  display: none;
}

.base-list .container {
  padding-top: 20px;
}

@media screen and (min-width: 1024px) {
  .base-list {
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .films-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .film-card {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .film-card {
    width: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (max-width: 767px) {
  .film-card:not(:last-child) {
    margin-bottom: 20px;
  }
}

.film-image {
  width: 274px;
}

@media screen and (min-width: 768px) {
  .film-image {
    width: 293px;
  }
}

@media screen and (min-width: 320px) {
  .film-image {
    width: 280px;
  }
}

.film-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: black;
}

.data-list {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ff6b08;
}

.data-vote {
  width: 36px;
  height: 16px;
  background: #ff6b01;
  border-radius: 5px;
}

.vote-average {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: white;
}
/*# sourceMappingURL=main.css.map */