/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента

// @import './example';
@import './variables/variables';
@import './options/commons-styles';
@import './components/spinner';
@import './components/bnt-to-top';

@import './components/header';
@import './components/header-my-library';
@import './components/films-list';
@import './components/card-form';

@import './components/switch-theme';

@import './components/card-overlay';

// @import './components/_film-modal';

@import './components/pagination-btn';
@import './components/film-modal';

@import './components/popularity-sort';

@import './components/modal-team';
@import './components/footer';
