/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента

// @import './example';
@import './variables/variables';
@import './options/commons-styles';

@import './components/header';
@import './components/films-list';
@import './components/card-form';
