:root {
  //палитра
  --color-white: #ffffff;
  --color-white-2: #f7f7f7;
  --color-white-3: rgb(216, 216, 216);
  --color-accent-trnsparent: rgb(255, 107, 1, 0.3);
  --color-orange: #ff6b01;
  --color-accent: #ff6b08;
  --color-brown: #2d2925;
  --color-black: #000000;
  --color-brown-2: #1d1713;
  --buttons-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  --color-card-overlay: rgba(17, 15, 15, 0.8);
  --control-boxshadow-color: rgba(35, 80, 129, 0.1);
  --color-sort-clear-btn: #4f4a45;
  --color-sort-btn: #9d9288;
  //переменные
  --color-text-inverse: var(--color-white);

  --color-text-primary: var(--color-black);

  --color-text-cell: var(--color-accent);
  --color-bg-hover: var(--color-accent-trnsparent);
  --color-text-hint: var(--color-white-3);
  --color-bg-scroll: var(--color-white-3);
  --accent-color: var(--color-orange);
  --color-bg-dark: var(--color-brown);
  --color-bg-ligth: var(--color-white);
  --color-bg-dark-footer: var(--color-brown-2);
  --color-bg-ligth-footer: var(--color-white-2);
  --duration-and-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
