<img class="modal-image" src="./images/footer/our-team.jpg" alt="Team ECMA-навты collage" />
<h2 class="modal-team-title">Разработчики:</h2>
<ul class="list-no-style list-team-links">
  <li>
    <a href="https://github.com/Dima-Penzev">Дмитрий</a>
  </li>
  <li>
    <a href="https://github.com/SvetlanaLeb">Светлана</a>
  </li>
  <li>
    <a href="https://github.com/KaterinaGerts">Екатерина</a>
  </li>
  <li>
    <a href="https://github.com/denis-tsibaev">Денис</a>
  </li>
  <li>
    <a href="https://github.com/JuliaZaykaS">Юлия</a>
  </li>
  <li>
    <a href="https://github.com/ialiev685">Ильфат</a>
  </li>
  <li>
    <a href="https://github.com/ABoklogov">Алексей</a>
  </li>
  <li>
    <a href="https://github.com/Grek-88">Георгий</a>
  </li>
</ul>
