<div class="new-sort-box">
    <p class="new-sort-text">Sort by</p>
    <ul class="new-sort-list list-no-style">
        <li class="new-sort-item">
            <button class="new-sort-btn">Genre</button>
        </li>
        <li class="new-sort-item">
            <button class="new-sort-btn">Rating</button>
        </li>
        <li class="new-sort-item">
            <button class="new-sort-btn">Year</button>
        </li>
        <li class="new-sort-item">
            <button class="all-btn">All</button>
        </li>
    </ul>
</div>