<div class="new-sort-box">
    <p class="new-sort-text">Sort by</p>
    <ul class="new-sort-list list-no-style">
        <li class="new-sort-item">
            <button class="new-sort-btn">Genre</button>
            <ul class="new-sort-list-genre list-no-style">
                <!-- <li class="new-sort-item-genre"></li> -->
            </ul>
        </li>
        <li class="new-sort-item">
            <button class="new-sort-btn">Rating</button>
            <ul class="new-sort-list-rating"></ul>
        </li>
        <li class="new-sort-item">
            <button class="new-sort-btn">Year</button>
            <ul class="new-sort-list-year"></ul>
        </li>
        <li class="new-sort-item">
            <button class="all-btn">All</button>
        </li>
    </ul>
</div>