<div class="new-sort-box">
    <p class="new-sort-text">Sort by</p>
    <ul class="new-sort-list list-no-style">
        <li class="new-sort-item">
            <button id="new-sort-btn-genre" class="new-sort-btn">Genre</button>
            <ul class="new-sort-list-genre list-no-style is-hidden">
            </ul>
        </li>
        <li class="new-sort-item">
            <button id="new-sort-btn-reting" class="new-sort-btn">Rating</button>
            <ul class="new-sort-list-rating list-no-style is-hidden"></ul>
        </li>
        <li class="new-sort-item">
            <button id="new-sort-btn-year" class="new-sort-btn">Year</button>
            <ul class="new-sort-list-year list-no-style is-hidden"></ul>
        </li>
        <li class="new-sort-item">
            <button class="all-btn">All</button>
        </li>
    </ul>
</div>