<article class="pagination pagination-start">
  <ul class="list-no-style">
    <!-- <li class="film-card"></li>
        <li class="film-card"></li>
        <li class="film-card"></li>
        <li class="film-card"></li>
        <li class="film-card"></li>
        <li class="film-card"></li>
        <li class="film-card"></li> -->
  </ul>
</article>
<article class="pagination pagination-search">
  <ul class="list-no-style">
    <!-- <li class="film-card"></li> 
      <li class="film-card"></li>
        <li class="film-card"></li>
        <li class="film-card"></li>
        <li class="film-card"></li>
        <li class="film-card"></li>
        <li class="film-card"></li> -->
  </ul>
</article>
