<div class="sort-films-box">
    <p class="sort-films-text">Sort by</p>
    <ul class="sort-films-list list-no-style">
        <li class="sort-films-item">
            <button class="sort-films-item-btn">Genre</button>
        </li>
        <li class="sort-films-item">
            <button class="sort-films-item-btn">Rating</button>
        </li>
        <li class="sort-films-item">
            <button class="sort-films-item-btn">Year</button>
        </li>
        <li class="sort-films-item">
            <button class="clear-btn">Clear</button>
        </li>
    </ul>
</div>
