.film-image {
  // margin-bottom: 10px;
  display: block;
  width: 280px;
  height: 430px;
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    width: 293px;
  }
  @media screen and (min-width: 1024px) {
    width: 274px;
  }
}

.film-title {
  margin: 0;
  margin-bottom: 7px;

  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.data-container {
  display: flex;
}

.data-list {
  margin: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: rgba(255, 107, 8, 1);
}

.name-genres {
  padding-right: 3px;
  margin-right: 3px;

  border-right: 1px solid #ff6b08;
}

.year-list {
  margin-right: 12px;
}

.data-vote {
  display: flex;
  align-items: center;
  padding-left: 10px;

  width: 36px;
  height: 16px;
  background: rgba(255, 107, 1, 1);
  border-radius: 5px;
}

.data-vote.is-hidden {
  display: none;
}

.vote-average {
  text-transform: uppercase;

  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 1);
}

.data-card {
  margin-top: 10px;
}
