.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 41px;
}

.logo {
  display: flex;
  align-items: center;
  .logo-name {
    display: none;

    @media (min-width: $tablet) {
      display: inline-block;
      margin-left: 10px;
      font-weight: 500;
      font-size: 30px;
      line-height: 35px;
      text-decoration: none;
      align-items: center;
      text-align: center;

      color: var(--color-text-inverse);
    }
  }
}

.header-button {
  color: var(--color-text-inverse);
  background-color: transparent;
  outline: none;
  border: none;
  padding-top: 12px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.header-button:first-child {
  margin-right: 40px;
}

// .group-buttons {
//   padding-top: 12px;
// }

.header-input {
  display: block;
  width: 100%;

  color: var(--color-text-inverse);
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 0.5px solid #fff;
  font-size: 14px;
  line-height: 1.143;
  margin-bottom: 22px;

  //   &:focus {
  //     border-bottom: 0.5px solid var(--accent-color);
  //   }

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }

  @media screen and (min-width: $tablet) {
    width: 336px;
  }
}

.header-input-hidden {
  display: none;
}

.header-input::placeholder {
  color: var(--color-text-inverse);
}

.home-search-div {
  position: relative;
  text-align: -webkit-center;
}

.search-button {
  position: absolute;
  top: 0;
  right: -15px;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  @media (min-width: $tablet) and (max-width: $desktop) {
    top: 0;
    right: 128px;
  }

  @media (min-width: $desktop) {
    top: 0;
    right: 260px;
  }

  .magnifier-logo {
    padding: 14px;
  }
}

.header-message {
  color: #ff001b;
  font-size: 14px;
  line-height: 1.143;
  margin: 0;
}

.header-message.is-hidden {
  display: none;
}

.overlay {
  min-height: 230px;
  // padding: 26px 0;
  background-color: rgb(0, 1, 3);
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/header/mobile/header-home-mobile.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $mobile+1px) and (max-width: $tablet) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/tablet/header-home-tablet.jpg');
  }

  @media (min-width: $tablet+1px) and (max-width: $desktop) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/desktop/header-home-desktop.jpg');
  }

  @media (min-width: $desktop+1px) {
    // padding: 46px 0 46px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/desktop/header-home-desktop.jpg');
    background-size: contain;
  }

  .container {
    padding-top: 46px;

    position: relative;
  }
}

// Картинки 2x для экранов retina
// все картинки прошли оптимизатор
@media screen and (min-device-pixel-ratio: 2) and (min-width: $tablet+1px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: $tablet+1px),
  screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: $tablet+1px),
  screen and (min-resolution: 192dpi) and (min-width: $tablet+1px),
  screen and (min-resolution: 2dppx) and (min-width: $tablet+1px) {
  .overlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/desktop/header-home-desktop@2x.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: $tablet),
  screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: $tablet),
  screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: $tablet),
  screen and (min-resolution: 192dpi) and (max-width: $tablet),
  screen and (min-resolution: 2dppx) and (max-width: $tablet) {
  .overlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/tablet/header-home-tablet@2x.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: $mobile),
  screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: $mobile),
  screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: $mobile),
  screen and (min-resolution: 192dpi) and (max-width: $mobile),
  screen and (min-resolution: 2dppx) and (max-width: $mobile) {
  .overlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/mobile/header-home-mobile@2x.jpg');
  }
}

.library-btns-hidden {
  display: none;
}
