.library-btn-container {
  font-size: 0;
  text-align: center;
}

.header-button-low {
  width: 130px;
  height: 44px;
  padding: 0;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-text-inverse);

  border: 1px solid var(--color-text-inverse);
  border-radius: 5px;
  background-color: transparent;

  @media screen and (min-width: $tablet) {
    width: 136px;
  }
}

.header-button-low:first-child {
  margin-right: 19px;

  @media screen and (min-width: $tablet) {
    margin-right: 15px;
  }
}

.current::after {
  content: '';
  display: block;

  width: 100%;
  height: 3px;

  background-color: var(--accent-color);
}

.current-btn {
  border: none;
  background: var(--accent-color);
  box-shadow: var(--buttons-shadow);
}

.overlay-library {
  min-height: 230px;
  padding-top: 20px;
  background-color: rgb(0, 1, 3);
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/header/mobile/header-my-library-mobile.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $mobile+1px) and (max-width: $tablet) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/tablet/header-my-library-tablet.jpg');
  }

  @media (min-width: $tablet+1px) and (max-width: $desktop) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/desktop/header-my-library-desktop.jpg');
  }

  @media (min-width: $desktop+1px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/desktop/header-my-library-desktop.jpg');
    background-size: contain;
  }

  .container {
    padding-top: 26px;
  }
}

// Картинки 2x для экранов retina
// все картинки прошли оптимизатор
@media screen and (min-device-pixel-ratio: 2) and (min-width: $tablet+1px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: $tablet+1px),
  screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: $tablet+1px),
  screen and (min-resolution: 192dpi) and (min-width: $tablet+1px),
  screen and (min-resolution: 2dppx) and (min-width: $tablet+1px) {
  .overlay-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/desktop/header-my-library-desktop@2x.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: $tablet),
  screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: $tablet),
  screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: $tablet),
  screen and (min-resolution: 192dpi) and (max-width: $tablet),
  screen and (min-resolution: 2dppx) and (max-width: $tablet) {
  .overlay-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/tablet/header-my-library-tablet@2x.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: $mobile),
  screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: $mobile),
  screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: $mobile),
  screen and (min-resolution: 192dpi) and (max-width: $mobile),
  screen and (min-resolution: 2dppx) and (max-width: $mobile) {
  .overlay-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/mobile/header-my-library-mobile@2x.jpg');
  }
}
