.basicLightbox {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.01;
  transition: opacity 0.4s ease;
  z-index: 1000;
  will-change: opacity;
}
.basicLightbox--visible {
  opacity: 1;
}
.basicLightbox__placeholder {
  max-width: 100%;
  transform: scale(0.9);
  transition: transform 0.4s ease;
  z-index: 1;
  will-change: transform;
}
.basicLightbox__placeholder > iframe:first-child:last-child,
.basicLightbox__placeholder > img:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 95%;
  max-height: 95%;
}
.basicLightbox__placeholder > iframe:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  pointer-events: auto;
}
.basicLightbox__placeholder > img:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  width: auto;
  height: auto;
}
.basicLightbox--iframe .basicLightbox__placeholder,
.basicLightbox--img .basicLightbox__placeholder,
.basicLightbox--video .basicLightbox__placeholder {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.basicLightbox--visible .basicLightbox__placeholder {
  transform: scale(1);
}

.modal-team-title {
  color: var(--color-white);
  text-align: center;
  margin-bottom: 50px;
}

.modal-image {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.list-team-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
}

.member-link {
  display: block;
  margin-bottom: 10px;
  margin-right: 5px;
  color: var(--color-white);
  padding: 10px;
  border: 1px solid var(--color-white);
  border-radius: 30px;
}

.member-link:hover,
.member-link:focus {
  color: var(--accent-color);
  background-color: var(--color-white);
}

.close-modal-team-btn {
  background-color: var(--color-white);

  border-radius: 50%;
  display: block;
  width: 30px;
  height: 30px;

  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.close-modal-team-btn:hover {
  background-color: var(--color-accent);
}

.progect-link {
  display: flex;
  justify-content: center;
}
