.pagination-btn {
  width: 40px;
  height: 40px;
  font-weight: 500;
  vertical-align: bottom;

  margin: 3px;

  border: none;
  border-radius: 5px;
  background-color: transparent;

  &.active {
    color: var(--color-white);
    background-color: var(--color-accent);
  }
}

.pagination {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

#next-arrow {
  margin-left: 3px;
}

#back-arrow {
  margin-right: 3px;
}

.dark-theme .pagination-btn {
  color: var(--color-text-inverse);
}

.dark-theme .pagination {
  color: var(--color-text-inverse);
}

.light-theme .arrow-rect {
  fill: var(--color-bg-ligth);
}

.dark-theme .arrow-rect {
  fill: var(--color-bg-dark);
}
.dark-theme .arrow-path {
  stroke: var(--color-text-inverse);
}

.light-theme .arrow-path {
  stroke: var(--color-text-primary);
}
