.popularity-sort {
  color: beige;
}
.textarea-demo-left-item {
  height: 40px;
  width: 100%;
  position: relative;
  margin-bottom: 5px;
}
.textarea-demo-left-item-left,
.textarea-demo-left-item-right {
  color: beige;
  position: absolute;
  top: 0;
  line-height: 40px;
}
.textarea-demo-left-item-left {
  left: 0;
}
.textarea-demo-left-item-right {
  right: 0;
}
.textarea-demo-left-item-right > .dropdown {
  min-width: 180px;
}
.textarea-demo-left-item > .checkbox {
  position: relative;
  top: 10px;
}
.textarea-demo-plugin {
  border: 2px solid $text-color-light;
  border-radius: 4px;
  padding: 10px;
  height: 350px;
}

//---------------
.dropdown {
  border: 1px solid $border-color-light;
  background: $control-background-color;
  border-radius: 6px;
  height: 40px;
  position: relative;
  cursor: pointer;
  transition: border-color 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dropdown:hover {
  border-color: $secondary-color;
}
.dropdown:before {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 3px);
  right: 15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: $text-color-dark transparent transparent transparent;
  transition: border-color 0.3s;
}
.dropdown:hover:before {
  border-color: $secondary-color transparent transparent transparent;
}
.dropdown-value {
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  line-height: 20px;
  color: $text-color-dark;
  padding: 10px;
  font-weight: $font-weight-semibold;
  transition: color 0.3s;
}
.dropdown:hover .dropdown-value {
  color: $secondary-color;
}
.dropdown-list {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  position: absolute;
  transition: opacity 0.3s, visibility 0.3s, top 0.2s;
  max-height: 300px;
  top: 50%;
  background: #fff;
  padding: 3px;
  border-radius: 6px;
  box-shadow: 0 16px 29px -10px $control-boxshadow-color, 0 12px 50px -5px $control-boxshadow-color;
  z-index: 9999;
}
.active.dropdown .dropdown-list {
  opacity: 1;
  visibility: visible;
  top: calc(100% + 1px);
}
.dropdown-list > div {
  height: 35px;
  transition: background 0.3s, color 0.3s;
  border-radius: 4px;
  line-height: 35px;
  padding: 0px 7px;
}
.dropdown-list > div:hover {
  background: $secondary-color;
  color: #fff;
}
