.search-hint {
  position: absolute;
  z-index: 1;
  top: 20px;

  @media screen and (min-width: $tablet) {
    transform: translateX(-50%);
    left: 50%;
  }

  max-height: 203px;
  // overflow-y: hidden;
  overflow-y: scroll;

  border-radius: 5px;
  padding: 5px;

  background-color: var(--color-bg-dark);

  font-size: 14px;
  color: var(--color-text-inverse);
  @media screen and (min-width: $tablet) {
    width: 336px;
  }
  &:hover {
    overflow-y: scroll;
  }

  &::-webkit-scrollbar {
    width: 3px;
    background-color: var(--color-bg-dark);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-bg-scroll);
  }
}

.search-hint-table {
  width: 100%;
  border-collapse: collapse;
  .item-table {
    padding: 5px 0;
  }

  & .row-table,
  & .item-table {
    color: var(--color-text-hint);
  }

  // & .row-table:hover .item-table {
  //   background-color: var(--color-bg-hover);
  // }

  & .cell-two {
    color: var(--color-text-cell);
    text-align: right;
  }
}

.search-hint.is-hidden {
  display: none;
}

.row-table.current {
  background-color: var(--color-bg-hover);
}
