.wrapper-lang-checkbox {
  position: absolute;
  // top: 20px;
  top: 10px;
  right: 200px;
  display: flex;
  align-items: center;
  @media screen and (min-width: $tablet) {
    right: 165px;
    top: 193px;
    // right: 200px;
    // top: 190px;
  }
  @media screen and (min-width: $desktop) {
    // right: 165px;
    // top: 193px;
    // right: 200px;
    top: 190px;
  }
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.switch_box-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100px;
  width: 60px;
  height: 27px;
  @media screen and (min-width: $tablet) {
    width: 70px;
    height: 32px;
  }
  @media screen and (min-width: $desktop) {
    min-width: 80px;
    height: 36px;
  }
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

input[type='checkbox'].switch-lang {
  font-size: 23px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 87%;
  height: 80%;
  background: #000;
  border: 1px solid var(--accent-color);
  border-radius: 3em;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input[type='checkbox'].switch-lang:checked {
  background: #000;
}

input[type='checkbox'].switch-lang:after {
  position: absolute;
  content: '';
  width: 1em;
  height: 1em;
  bottom: -2px;
  @media screen and (min-width: $tablet) {
    width: 1.3em;
    height: 1.3em;
    bottom: -3px;
  }
  @media screen and (min-width: $desktop) {
    bottom: -1px;
  }
  border-radius: 50%;
  background: var(--accent-color);
  -webkit-box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input[type='checkbox'].switch-lang:checked:after {
  left: calc(100% - 1em);
  @media screen and (min-width: $tablet) {
    left: calc(100% - 1.3em);
  }
}

.sign {
  margin: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.167;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.is-active-lang {
  color: var(--accent-color);
  box-shadow: var(--buttons-shadow);
}
