<table class='search-hint-table'>
  {{#each this}}
    <tr class='row-table'>
      <td class='item-table cell-one'>{{title}}</td>
      <td class='item-table cell-two'>{{vote_average}}</td>
    </tr>
  {{/each}}
</table>